<!-- <button mat-raised-button (click)="openAddSlotForm()">Add Slot</button> -->

<div class="container">
    <div mat-dialog-title>
        <h1>Slot Details</h1>
    </div>
    <div mat-dialog-content>
        <label class="error-message">{{ errorMsg }}</label>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"
                        style="color: rgb(13, 173, 77);"></mat-progress-bar>
        <div class="slots">
            <mat-card class="example-card" *ngFor="let data of slots">
                <mat-card-header>
                    <mat-card-title class="fw-bold">{{data.serviceName}}</mat-card-title>
                    <!-- <mat-card-subtitle>Vendor Name: {{data.vendorName}}</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                    <!-- <p>Date : {{data.slotId}}</p> -->
                    <div style="display: flex;  align-items: center; text-align: left; margin: 2px;">
                        <mat-icon>location_on</mat-icon>{{data.vendorLocation}}
                    </div>
                    <div style="display: flex;  align-items: center; text-align: left; margin: 2px;">
                        <mat-icon>date_range</mat-icon> {{data.slotDate|date }} ({{data.startTime}} - {{data.endTime}})
                    </div>
                    <div style="display: flex;  align-items: center; text-align: left; margin: 5px;">Slot Status :
                        {{data.slotStatus}}</div>
                    <!-- <p>Service Time : 10:00 - 12:00</p> -->
                    <!-- <p>{{data.endTime}}</p> -->
                    <div style="display: flex;  align-items: center; text-align: left; margin: 5px;">Visiting Price :
                        {{data.visitingCharges}}</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" *ngIf="isVendor" (click)="deleteSlot(data.slotId)">{{booking
                        ?
                        'CANCEL' : 'DELETE SLOT'}}</button>
                    <button mat-raised-button *ngIf="!isVendor" style="color: rgb(13, 173, 77);"
                        (click)="openAddBookingForm(data)">BOOK</button>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>