<div class="container">
    <main class="grid">
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/img/pet care.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Ensure the well-being of your beloved pets with our expert pet care services. From dog walking to grooming and pet sitting, we provide comprehensive care, giving you peace of mind
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="color: rgb(13, 173, 77);">Book Service</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/img/garden.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Transform your outdoor space into a lush paradise with our gardening services. Our skilled gardeners offer landscaping, maintenance, and planting solutions, creating a vibrant and serene environment.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button style="color: rgb(13, 173, 77);">Book Service</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/img/plumbing.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Trust our plumbing experts to tackle all your plumbing needs. From fixing leaks to installing fixtures, we deliver reliable and efficient solutions, ensuring your home runs smoothly.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="color: rgb(13, 173, 77);">Book Service</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/img/mobile.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Get your electronics back in working order with our electronic repair services. Our technicians specialize in fixing gadgets and appliances, providing cost-effective solutions for your convenience.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="color: rgb(13, 173, 77);">Book Service</button>
        </mat-card-actions>
      </mat-card>
      
    </main>     
  </div>