<div class="footer">
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row justify-content-center align-items-center">
                        <a href="#">
                            <div class="logo-container">
                                <img style="width: 20%;" class="img-fluid" src="../../../assets/img/logo.png">
                            </div>
                            <p class="mt-3">TrueVendor</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4" style="color: white;">
                    <h2>Contact Us</h2>
                    <p>Email: <a href="mailto:contact@truevendor.com">contact@truevendor.com</a></p>
                    <p>Phone: <a href="tel:+1234567890">+123 456 7890</a></p>
                    <p [routerLink]="['/contact']">Contact Support</p>
                </div>
                <div class="col-md-4">
                    <h2>Address</h2>
                    <a target="_blank" href="https://goo.gl/maps/MoFo3j4SxUksrMjW8">
                        <p>123 Street Name</p>
                        <p>City, Country</p>
                        <p>Postal Code: 12345</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>