<div class="container">
    <div style="padding: 10px;">
        <form (ngSubmit)="addService()" [formGroup]="serForm" style="justify-content: center;align-items: center;">
            <div class="mt-3">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Service Name</mat-label>
                    <input matInput placeholder="plumber" formControlName="name" required>
                  </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Service Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="write something about service" 
                    required></textarea>
                  </mat-form-field>
            </div>
            <button mat-raised-button type="submit" 
            [ngStyle]="{'color': isValid() ? '' : 'rgb(13, 173, 77)'}" 
            [disabled]="isValid()">
            Add Service</button>
        </form>
    </div>
</div>