<div class="container">
    <div class="row">
        <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
            <div style=" justify-content: center; align-items: center; margin-bottom: 5px;">
                <img style="width: 150px;" src="../../assets/img/logo.png">
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <h1 class="fw-bold" style="font-size: 35px; color: rgb(13, 173, 77);">Welcome to Our Website</h1>
            </div>
            <div>
                <h3 style="font-size: 20px;">Enter your Credentials here.....</h3>
            </div>
            <div>
                <a style="color: blue; font-size: 15px;text-decoration: none;" [routerLink]="['/homepage']">Back to
                    Home</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                    <div class="justify-content-center align-items-center" style="display: flex;">
                        <img src="../../assets/img/login.png" style="width: 100px;" class="mb-3">
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-floating mb-3">
                            <input formControlName="email" placeholder="email" type="email" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <div *ngIf="isEmailInvalid()" style="color: red;">
                                <div *ngIf="isEmailRequired()">Email is required.</div>
                                <div *ngIf="isEmailInvalidFormat()">Invalid email format.</div>
                            </div>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="form-floating mb-3">

                            <input formControlName="password" placeholder="password" type="password"
                                class="form-control" id="exampleInputPassword1">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <div *ngIf="isPasswordInvalid()" style="color: red;">
                                <div *ngIf="isPasswordRequired()">Password is required.</div>
                                <div *ngIf="isPasswordTooShort()">Password must be at least 8 characters long.</div>
                            </div>
                        </div>
                        <button mat-raised-button [disabled]="isFormInvalid()"
                            [ngStyle]="{'background-color': isFormInvalid() ? '' : 'rgb(13, 173, 77)', 'color': isFormInvalid() ? '' : 'white', 'width': '100%'}"
                            type="submit">
                            Login
                        </button>
                    </form>
                    <p class="text-center mt-3"><a [routerLink]="['/signup']">Don't have account? Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->

<div class="footer">
    <footer class="bg-dark text-white py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row justify-content-center align-items-center">
                        <a href="#">
                            <div class="logo-container">
                                <img style="width: 20%;" class="img-fluid" src="../../../assets/img/logo.png">
                            </div>
                            <p class="mt-3">TrueVendor</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4" style="color: white;">
                    <h2>Contact Us</h2>
                    <p>Email: <a href="mailto:contact@truevendor.com">contact@truevendor.com</a></p>
                    <p>Phone: <a href="tel:+1234567890">+123 456 7890</a></p>
                    <p [routerLink]="['/contact']">Contact Support</p>
                </div>
                <div class="col-md-4">
                    <h2>Address</h2>
                    <a target="_blank" href="https://goo.gl/maps/MoFo3j4SxUksrMjW8">
                        <p>123 Street Name</p>
                        <p>City, Country</p>
                        <p>Postal Code: 12345</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>