.example-spacer {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  height: 50px;
  margin-right: 10px;
}

.mat-toolbar.mat-primary {
  background: #27b67d;
  color: #fff;
}



